/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// SysTypes Information
//
// Rob Dobson 2024
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#pragma once

#include "SysTypesInfo.h"

const std::vector<SysTypeInfoRec> sysTypesInfo = 
{
{{GENERATED_CODE}}

};
