/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// SysTypes Information
//
// Rob Dobson 2024
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#include "SysTypeInfoRec.h"

static constexpr const SysTypeInfoRec sysTypeInfoRecs[] = 
{
{{GENERATED_CODE}}

};
